#gallery{
		 			display: -webkit-flex;
		 			display: -moz-flex;
		 			display: -ms-flex;
		 			display: -o-flex;
		 			display: flex;
		 			flex-wrap: wrap;
		 			flex-direction: row;
		 			align-items: center;
		 			justify-content: start;
		 		}

.single-img{
	padding: 0 20px 20px;}




.single-img img{
	border:1px solid black;
}		 		

		 		
.single-img img:hover{
	opacity: 0.5;
	transition: .9s;
		 		}
@media screen and (max-width:1150px){
	#gallery{
		justify-content: center;

	}


