


.row-1{
	margin-top: 120px;
}

#profile-pic{
	border-radius: 50%;
}

#icon{
	border-radius: 50%;
}
.user-description{
	text-align:left;
}


.user-image{
	text-align: right;
}

.dropdown{
	display:inline;
	margin:2px;
}

.dropdown{
	display:inline;
	margin:2px;
}

@media screen and (max-width: 444px){
	#my-name{
		font-size: 40px !important;
	}
}

.edit-button{
	margin-left: 30px;
}

.submit-button {
    padding: 5px;
    margin-top: 3px;
    width:100%;    
}





@media only screen and (max-width: 768px) {
  .user-image {
    text-align:left;
  }
}

