#like{
	border:1px solid #707070;
	background-color: #ababab;
}

#download{
	border:1px solid  #707070;
	background-color: #38ba43;
}	

.enlarged{
	text-align: center;
	margin:0 auto;
	background-color: black;
	max-width:35%;
	border: 1px solid white;
}


#download,#like{
	border-radius: 5px;
	padding: 4px;
}


.row-1{
	margin-top: 120px;
}

#profile-pic{
	border-radius: 50%;
}



#icon{
	border-radius: 50%;
}
.user-description{
	text-align:left;
}


.user-image{
	text-align: right;
}

.dropdown{
	display:inline;
	margin:2px;
}

.dropdown{
	display:inline;
	margin:2px;
}

@media screen and (max-width: 444px){
	#my-name{
		font-size: 40px !important;
	}
}


@media screen and (max-width: 438px){
	#image-tray{
		width:100px;
		height: 100px;
	}

	.enlarged{
	text-align: center;
	margin:40px auto;
	max-width: 120px;

	background-color: black;

 }	

 @media screen and (max-width: 409px){
	#image-tray{
		width:50px;
		height: 30px;
	}

	.enlarged{
	text-align: center;
	margin:10px auto;
	max-width: 50px;
	
	background-color: black;

 }




}

@media screen and (max-width: 900px){
	#image-tray{
		width:400px;
		height: 300px;
	}

	.enlarged{
	text-align: center;
	margin:40px auto;
	max-width: 420px;

	background-color: black;

 }	

}

		 		

		 		







.edit-button{
	margin-left: 30px;
}

.submit-button {
    padding: 5px;
    margin-top: 3px;
    width:100%;    
}





@media only screen and (max-width: 768px) {
  .user-image {
    text-align:left;
  }
}

